* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}


/* Header */


.header {
    font-size: 6vw;
    text-align: center;
    display: block;
    width: 16em;
    margin: 1em auto;
}


.header__logo {
    position: absolute;
    width: 32.6%;
    left: 0;
    top: 0;
}

.header__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.79em;
    margin: 0;
    width: 90%;
    margin: 0 auto;
    padding-top: 4.4%;
    position: relative;
    font-weight: 600;
    margin-bottom: 0;
}

.header__subtitle {
    font-family: 'Merriweather', serif;
    font-size: .5em;
    font-weight: 200;
    width: 50%;
    text-align: right;
    margin: .25em auto;
    letter-spacing: .1em;
    color: #666;
}

@media screen and (min-width: 1000px) {
  .header {
    font-size: 4rem;
  }
}






